@media (max-width: 885px) {
  html {
    font-size: 60%;
  }

  /* #header {
    flex-direction: column;
  } */

  /* Mobile */

  .btn-mobile-nav {
    display: block;
    padding: 0 2rem;
    z-index: 1000;
  }

  .navigation {
    background-color: rgb(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows no transition at all */
    /* display: none; */
    /* 1)Hide the element visuall */
    opacity: 0;
    /* 2)Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3)Hide it froom screen readers */
    visibility: hidden;
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav.fa-xmark {
    display: block;
  }
  .nav-open .icon-mobile-nav.fa-bars {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    gap: 4.6rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }

  /* ////////////////////////// */
  .hero {
    padding: 20.5rem;
  }

  .hero-info {
    font-size: 4.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  html {
    font-size: 58%;
  }

  .box-testimonial {
    gap: 7rem;
    flex-direction: column;
  }

  .testimonial-picture {
    margin-left: 0;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 57%;
  }

  #header {
    position: relative;
  }

  .nav-links {
    flex-direction: column;
  }

  .featured-images {
    flex-direction: column;
  }
  .cta-text-box {
    padding: 4.8rem 2.1rem;
  }

  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .hero {
    padding: 5.6rem;
  }

  .cta-title {
    text-align: center;
  }
}

@media (max-height: 450px) and (max-height: 1000px) {
  #header {
    position: relative;
  }

  .hero {
    padding: 7.5rem;
  }

  .hero-info {
    font-size: 3.2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }
}
