@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*

---- 01 TYPOGRAPHY

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHTS:
DEFAULT: 400
Medium: 500
Semi-bold: 600
Bold: 700

LINE HEIGHTS:
Default: 1
Small:
Medium:
Paragraph Default:

Letter spacing


---- 02 COLORS

PRIMARY: #fff #000

TINTS:#066ab2
#e90910
SHADES:#054d80
ACCENTS:
GREYS:
#555
#333
#888


-----03 IMAGES
Source is from unsplash.com
uifaces.com

-----04 ICONS


-----05 SHADOWS


------06 BORDER-RADIUS

Default: 9px


------07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128




*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

/* HEADER SECTION */

#header {
  background-color: #fff;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  position: relative;
}

/* Sticky navigation */
.sticky #header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9.6rem;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.sticky #section-hero {
  margin-top: 9.6rem;
}

/* Mobile navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  color: #000;
}

.icon-mobile-nav.fa-xmark {
  display: none;
}

/* Header nav section */
.navigation {
  padding: 1.6rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: flex;

  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  padding: 1.2rem 1.8rem;
  border-radius: 4px;
  font-weight: 600;
}

.nav-link:hover {
  color: #066ab2;
  transition: all 0.3s;
}

.free-quote-btn {
  font-size: 1.6rem;
  background-color: #066ab2;
  color: #fff;
}

.free-quote-btn:link,
.free-quote-btn:visited {
  background-color: #066ab2;
  color: #fff;
  text-align: center;
}

.free-quote-btn:hover,
.free-quote-btn:active {
  background-color: #054d80;
  color: #fff;
}

.btn.header-btn:link,
.btn.header-btn:visited {
  background-color: #066ab2;
  color: #fff;
  text-align: center;
}

.nav-link.header-btn:hover {
  background-color: #054d80;
  color: #fff;
}

/* HERO SECTION */

#hero-vid {
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  margin-bottom: 10rem;
  padding: 24.5rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.4rem;
  color: #000;
}

.hero-info {
  font-size: 5.2rem;
  line-height: 1.6;
}

.hero-btn {
  background-color: #fff;
}

/* FEATURED SECTION */

#section-featured {
  background-color: #fff;
  padding: 4.8rem 0;
}

.featured--title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;

  opacity: 0.5;
}

.featured-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  /* filter: grayscale(100%); */
  /* opacity: 0.5; */
}

/* ABOUT SECTION */

#section-about {
  padding: 9.6rem 0;
  background-color: #066ab2;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/shop.jpg);
  background-size: cover;
}

.about-title {
  text-align: center;
}

.about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 100%;
  border-radius: 50px;
}

.about-text-box {
  display: flex;
  flex-direction: column;
}

.about-description {
  font-size: 2.4rem;
  line-height: 1.6;
  padding: 0.8rem;
}

/* SERVICES SECTION */

#services-section {
  background-color: #fff;
  padding: 9.6rem 0;
}

.first-service-title {
  text-align: center;
  color: #066ab2;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.first-service-description {
  font-size: 2.4rem;
  line-height: 1.6;
  padding: 0.8rem;
  text-align: center;
}

.services {
  display: grid;
  justify-content: center;
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  grid-template-columns: repeat(3, 1fr);
}

.service-box:link,
.service-box:visited {
  color: #054d80;
  text-decoration: none;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.3s;
}

.service-box:hover,
.service-box:active {
  color: #066ab2;
  transform: translateY(-1.2rem);
}

.service-img {
  width: 100%;
}

.service-text {
  text-align: center;
  justify-content: space-around;
  padding: 1.8rem 2.4rem;
}

.service-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.icon {
  height: 8.4rem;
  width: 8.4rem;
  fill: #e90910;
}

.service-description {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  line-height: 1.6;
}

/* TESTIMONIAL SECTION */

#section-testimonial {
  background-color: hsl(0, 0%, 95%);
  padding: 9.6rem 0;
}

.testimonial-title {
  text-align: center;
  color: #066ab2;
}

.reviews {
  width: 100%;
  height: 25rem;
}

.box-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  position: relative;
  background-color: #066ab2;
  padding: 4rem 8rem;
  border-radius: 5px;
}

.testimonial-picture {
  height: 30rem;
  margin-left: 5rem;
  border-radius: 5px;
  transform: scale(1.5);
}

.testimonial-content {
  font-size: 1.6rem;
  line-height: 2;
  color: #fff;
}
.testimonial-author {
  font-size: 1.4rem;
  line-height: 2;
  color: #fff;
}

.circle-btn {
  height: 4rem;
  width: 4rem;
  border: none;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;

  stroke: #e90910;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/* .testimonial {
  display: flex;
}

.testimonial-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-text {
  display: flex;
  align-items: stretch;
  font-size: 1.6rem;
  line-height: 1.6;
} */

.testimonial-stars {
  display: flex;
  padding: 2.2rem;
}

/* .testimonial-name {
  font-size: 1.6rem;
  padding: 0.8rem;
  color: #066ab2;
} */

.dots {
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translate(-50%, 0);
}
.dot {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  border: 2px solid #e90910;
  cursor: pointer;
  margin: 0 1rem;
}

.selected {
  background-color: #e90910;
}

/* CTA SECTION */

#section-cta {
  background-color: #fff;
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #066ab2;
  border-radius: 5px;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #000;
}

.cta-title {
  font-size: 4.4rem;
  line-height: 1.2;
  padding-bottom: 1.6rem;
  color: #fff;
}
.cta-grid {
  grid-template-rows: 1fr 1fr 2fr;
}

.cta-text {
  font-size: 2rem;
  padding-bottom: 2.4rem;
  line-height: 1.6;
  color: #fff;
}

.cta-form {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  grid-template-columns: 1fr 1fr;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fff;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;

  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-img-box {
  background-image: url("../images/technician.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.desire-service {
  display: grid;
  grid-column: 1 /3;
}

.desire-service textarea {
  display: inline-block;
  grid-column: 1/3;
  height: 10rem;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.2rem;
  resize: none;
}

.btn--form {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  grid-column: 1/3;
}

.btt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.btt-btn {
  cursor: pointer;
  border: none;
  border: none;
  background-color: #066ab2;
  color: #fff;
  font-size: 2rem;
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
}

.btt-btn:hover {
  background-color: #054d80;
}
/* Footer */
#footer {
  background-color: #fff;
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

#footer .grid {
  grid-template-columns: repeat(4, 1fr);
}

.logo-cols {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 100%;
  margin-bottom: 2rem;
}

.social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 1.2rem;
  justify-items: center;
  margin: 0 4rem;
}

.copyright {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;

  margin-bottom: 5rem;
}

.footer-heading {
  margin: 2rem 0 4rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.contacts {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6;
}

.address {
  font-style: inherit;
  margin-bottom: 2.4rem;
}

.hours,
.local-link {
  font-size: 1.4rem;
  line-height: 1.6;
}

.local-link {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.local-link:link,
.local-link:visited {
  cursor: pointer;
  color: hsl(205, 92%, 26%);
  text-decoration: none;
  border-radius: 4px;
}

.local-link:hover,
.local-link:active {
  color: #fff;
  transition: all 0.3s;
  background-color: hsl(205, 92%, 26%);
}

.end {
  text-align: center;
}

/* Scrolling fade in*/
/* header,
section,
footer {
  opacity: 0;
  transition: 0.5s;
}

header.show,
section.show,
footer.show {
  opacity: 1;
} */
